* {
  margin: 0;
  padding: 0;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1);
  }
}
h1,
h2,
div.chapter {
  padding: 0 40px;
}
body {
  font-family: mrs-eaves, times, serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
  max-width: 710px;
  position: relative;
  padding-bottom: 30px;
}
body > div {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
}
body > div:last-child {
  margin-bottom: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: mrs-eaves-roman-petite-caps, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: 10px;
}
@media (max-width: 710px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1em;
  }
}
p + p {
  text-indent: 60px;
  margin-top: 10px;
}
p.caption {
  font-size: 15px;
  text-align: center;
}
div.visual {
  margin-top: 20px;
  margin-bottom: 20px;
}
ul.details,
.details {
  font-size: 15px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul.details li,
.details li {
  display: inline-block;
}
ul.details li + li:before,
.details li + li:before {
  content: " • ";
}
a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}
a:hover,
a:active {
  border-bottom-color: transparent;
}
div.slideshow {
  line-height: 20px;
}
div.slideshow * {
  cursor: pointer;
}
span.small-caps {
  display: inline-block;
  font-size: 65%;
  letter-spacing: 1px;
}
span.amphora {
  vertical-align: middle;
  margin-top: 6px;
  margin-left: 2px;
  margin-right: 2px;
}
#preorder-cta {
  position: absolute;
  top: 100px;
  left: 70%;
  animation: pulse 2s ease-out infinite;
  transform-style: preserve-3d;
}
@media (max-width: 710px) {
  #preorder-cta {
    top: 80px;
    left: initial;
    right: 20px;
  }
}
#preorder-cta a {
  display: block;
  position: relative;
  border: none;
  opacity: 0.66;
  transition: opacity 0.35s ease-in-out;
}
#preorder-cta a:hover,
#preorder-cta a:active {
  opacity: 1;
}
#preorder-cta img {
  width: 200px;
  height: 200px;
}
@media (max-width: 710px) {
  #preorder-cta img {
    width: 100px;
    height: 100px;
  }
}
.centered {
  text-align: center;
}
#close-up {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.35s ease-in-out;
  z-index: 100;
}
#close-up div.exit {
  font-family: arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 40px;
  line-height: 80px;
  width: 80px;
  text-align: center;
  text-shadow: 0 0 3px black;
  cursor: pointer;
  z-index: 102;
}
#close-up div.content {
  position: relative;
  top: 80px;
  width: 100%;
  height: calc(100% - 20px * 4 * 2);
  text-align: center;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#close-up div.navigation div {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
#close-up div.navigation div.prev {
  left: 0;
  cursor: w-resize;
}
#close-up div.navigation div.next {
  right: 0;
  cursor: e-resize;
}
