* { margin: 0; padding: 0; }

@base: 10px;
@font-size: 2 * @base;
@max-width: 710px;

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(1.05);
  }
  25% {
    transform: scale(1);
  }
}

@keyframes oscillate {
  0% {
    background: rgb(255, 50, 50);
    // color: white;
  }
  50% {
    background: white;
    // color: black;
  }
  100% {
    background: rgb(255, 50, 50);
    // color: white;
  }
}

h1, h2,
div.chapter {
  padding: 0 40px;
}

body {
  font-family: mrs-eaves, times, serif;
  font-size: @font-size;
  line-height: @base * 3;
  font-weight: 400;
  font-style: normal;
  max-width: @max-width;
  position: relative;
  padding-bottom: @base * 3;
}

body > div {
  margin-top: @base * 3;
  margin-left: @base * 3;
  margin-right: @base * 3;
  position: relative;
  &:last-child {
    margin-bottom: @base * 3;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: mrs-eaves-roman-petite-caps, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  text-transform: lowercase;
  text-align: center;
  margin-top: @base;
  margin-bottom: @base;
  @media (max-width: @max-width) {
    font-size: 1em;
  }
}

p + p {
  text-indent: @base * 4;
  margin-top: @base;
}

p.caption {
  font-size: @font-size * 0.75;
  text-align: center;
}

div.visual {
  margin-top: @base * 2;
  margin-bottom: @base * 2;
}

ul.details, .details {
  font-size: @font-size * 0.75;
  line-height: @base * 2;
  margin-top: @base * 2;
  margin-bottom: @base * 2;
  li {
    display: inline-block;
    & + li:before {
      content: " • ";
    }
  }
}

a {

  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;

  &:hover, &:active {
    border-bottom-color: transparent;
  }
  &:link, &:visited {

  }

}

div.slideshow {
  line-height: @base * 2;
  * {
    cursor: pointer;
  }
}

span.small-caps {
  display: inline-block;
  font-size: 65%;
  letter-spacing: 1px;
}

span.amphora {
  vertical-align: middle;
  margin-top: @font-size * 0.3;
  margin-left: 2px;
  margin-right: 2px;
}

#preorder-cta {

  position: absolute;
  top: 100px;
  left: 70%;

  @media (max-width: @max-width) {
    top: 80px;
    left: initial;
    right: @font-size;
  }

  animation: pulse 2s ease-out infinite;
  transform-style: preserve-3d;

  a {

    display: block;
    position: relative;
    border: none;
    opacity: 0.66;
    transition: opacity 0.35s ease-in-out;

    &:hover, &:active {
      opacity: 1;
    }

  }

  img {
    width: 200px;
    height: 200px;
    @media (max-width: @max-width) {
      width: 100px;
      height: 100px;
    }
  }

}

.centered {
  text-align: center;
}

#close-up {

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.75);
  transition: opacity 0.35s ease-in-out;
  z-index: 100;

  div.exit {

    font-family: arial, sans-serif;
    position: absolute;
    top: 0;
    right: 0;

    color: white;
    font-size: @font-size * 2;
    line-height: @font-size * 4;

    width: @font-size * 4;
    text-align: center;

    text-shadow: 0 0 3px black;
    cursor: pointer;
    z-index: 102;

  }

  div.content {

    position: relative;
    top: @font-size * 4;
    width: 100%;
    height: calc(100% - @font-size * 4 * 2);
    text-align: center;
    overflow: hidden;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

  }

  div.navigation {
    div {
      position: absolute;
      width: 50%;
      top: 0;
      bottom: 0;
      cursor: pointer;
    }
    div.prev {
      left: 0;
      cursor: w-resize;
    }
    div.next {
      right: 0;
      cursor: e-resize;
    }
  }

}

#easter-egg {
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  p {
    margin-top: @base;
    text-indent: 0;
  }
}

button {
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 0;
  font-family: mrs-eaves, times, serif;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  padding: 0 22px;
  text-align: center;
  &:not(.complete) {
    animation: oscillate 5s ease-out infinite;
  }
  &.transcoding {
    animation: oscillate 0.1s ease-out infinite;
  }
}

a.hash {

  position: absolute;
  display: inline-block;
  border-bottom: 0;

  background: url(../images/link.svg) no-repeat;
  background-size: 100%;

  width: @font-size;
  height: @font-size;
  margin-top: (@base * 3 - @font-size) * 0.75;
  margin-left: @font-size / 2;
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
